# Локальные настройки кластера
.env
cluster.conf
docker-compose.generated.yml
docker-compose.test.yml

# Docker-логи/данные, если кто-то решит сделать bind-mount.
logs/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.swp

generated/
