# Локальные настройки кластера
.env
cluster.conf

# Docker-логи/данные, если кто-то решит сделать bind-mount
data/
logs/

# Maven build artifacts
app/*/target/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.swp

generated/
